 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


body {
    background-color: #8A51FC;
}


.logo {
    width: 300px;
    display: block;
    margin: 20px auto;
}

main {
    width: 375px;
    border-radius: 20px;
    background-color: #F4f4f4;
    margin: 0 auto;
    padding: 44px 24px 23px 24px;
}